# Arquivos auxiliares principais do LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Arquivos específicos do Beamer (essenciais para slides)
*.nav
*.snm
*.vrb

# Arquivos de histórico do VS Code e do sistema operacional
.vscode/
.DS_Store
Thumbs.db

# Ignorar todos os PDFs gerados durante os testes
*.pdf

# Abrir exceção para o PDF oficial de demonstração aparecer no GitHub
!demo/Template_de_Slides___IMPATeX.pdf