# --- Arquivos auxiliares do LaTeX --- 

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.run.xml
*.toc
*.synctex(busy)
*.synctex.gz
*.log

# --- Arquivos específicos do Beamer ---

*.nav
*.snm
*.vrb

# --- Saídas (PDFs gerados) ---

*.pdf

# --- Exceção para todas as imagens em PDF ---

!img/**/*.pdf

# --- Arquivos do sistema ---

.vscode/
.DS_Store
Thumbs.db